@mixin Button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--light-purple-color);

  &:hover {
    color: var(--bright-red-color);
  }
}

.FlashMessage {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.FormContainer {
  margin-top: 5rem;
}

.AdminButton {
  @include Button();
}

.LogoutButton {
  @include Button();
}

.LoaderWrapper {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

@media (min-width: 56.25em) {
  .AdminButton {
    top: 17.5rem;
  }
  .LoaderWrapper {
    margin-top: 10rem;
  }
}

@media (min-width: 112.5em) {
  .AdminButton {
    font-size: 1.6rem;
  }
  .LogoutButton {
    font-size: 1.6rem;
  }
}
