.ShopItem {
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  background: none;

  &:hover .Title,
  &:focus .Title {
    color: var(--bright-red-color);
  }
}

.DetailsContainer {
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Title {
  color: var(--dark-purple-color);
  font-size: 2rem;
  text-transform: uppercase;
  transition: color 0.2s;
  white-space: nowrap;
}

.Price {
  color: var(--dark-purple-color);
  font-size: 2rem;

  &::before {
    content: '$';
  }
}

.ShopItemLink {
  text-decoration: none;
  display: 'block';
  border-right: 1px solid var(--light-gray-color);
  padding: 1.6rem;

  &:last-child {
    border-right: none;
  }
}

@media (min-width: 56.25em) {
  .Title,
  .Price {
    font-size: 1.6rem;
  }
}

@media (min-width: 112.5em) {
  .Title,
  .Price {
    font-size: 1.4rem;
  }
}
