.ContainerInput {
  position: relative;
  margin: 1rem 0;
}

.FooterInput {
  color: var(--tan-white-color);
  background-color: var(--light-purple-color) !important;
  height: 4rem;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  appearance: none;
  transition: all 0.2s;

  width: 25rem;

  &::placeholder {
    color: var(--tan-white-color);
  }
}

.ErrorMessage {
  color: var(--bright-red-color);
  position: absolute;
  top: 105%;
  left: 0.5rem;
  font-size: 1.4rem;
}

.Invalid {
  color: var(--tan-white-color);
}

@media (max-width: 56.25em) {
  .FooterInput {
    font-size: 1.6rem;
    height: 5rem;
  }
}
