.ContainerInput {
  position: relative;
}

.FooterInput {
  color: var(--tan-white-color);
  background-color: var(--light-purple-color);
  height: 4rem;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  appearance: none;
  transition: all 0.2s;

  width: 25rem;

  &::placeholder {
    color: var(--tan-white-color);
  }
}

.ErrorMessage {
  color: var(--bright-red-color);
  position: absolute;
  top: 110%;
  left: 0.5rem;
  font-size: 1.3rem;
}

.Invalid {
}

@media (max-width: 56.25em) {
  .FooterInput {
    height: 4rem;
  }
}
