.CalendarListItem {
  display: flex;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--dark-purple-color);
  margin: 1rem 0;
  outline: none;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid var(--tan-white-color);
  border-radius: 3px;
  padding-right: 3rem;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);

    & .AddListItem {
      background-color: var(--bright-red-color);
    }
  }
}

.DateContainer {
  height: 10rem;
  width: 10rem;
  border-radius: 3px;
  color: var(--tan-white-color);
  background-color: var(--dark-purple-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TitleContainer {
  height: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.AddButtonContainer {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Month {
  color: var(--light-gray-color);
}

.Day {
  font-size: 3.5rem;
}

.Year {
  color: var(--light-gray-color);
  font-size: 1.2rem;
}

.Title {
  font-size: 1.75rem;
}

.Time {
  color: var(--light-gray-color);
  font-size: 1.5rem;
}

.AddListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--tan-white-color);
  background-color: var(--dark-purple-color);
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  font-size: 1.4rem;
}
