.ButtonGroup {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  animation: expand 0.5s linear;
}

.Button {
  border: none;
  outline: none;
  text-transform: uppercase;
  margin: 0 1rem;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
  animation: fadeIn 1s linear;

  &:disabled {
    cursor: not-allowed !important;
  }

  &:focus {
    margin: 0 1rem;
  }

  &:hover {
    margin: 0 1.5rem;
    color: var(--bright-red-color);
  }
  &:active {
    margin: 0 1rem;
  }
}

.XLarge {
  font-size: 2rem;
}

.Large {
  font-size: 1.8rem;
}

.Medium {
  font-size: 1.8rem;
}

.Small {
  font-size: 1.6rem;
}

.Purple {
  color: var(--dark-purple-color);
}

.White {
  color: var(--tan-white-color);
}

@media (min-width: 56.25em) {
  .XLarge {
    font-size: 1.6rem;
  }
  .Large {
    font-size: 1.6rem;
  }
  .Medium {
    font-size: 1.4rem;
  }
  .Small {
    font-size: 1.2rem;
  }
}

@keyframes expand {
  from {
    transform: scaleX(0.1);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
