$width: 50.7rem;

.List {
  list-style: none;
  margin-top: 2rem;
}

.ListTitle {
  margin-left: 1rem;
}

.ListItemContainer {
  width: 100%;
  margin: 0 auto;
}

.ListItem {
  outline: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  width: $width;
  align-items: center;
  margin: 1rem 0;
  padding-left: $width/16;
}

.ListBody {
  overflow-y: hidden;
  transition: all 0.4s;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.Show {
  max-height: 20rem;
  opacity: 1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.Hide {
  max-height: 0;
  opacity: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 56.25em) {
  .ListItem {
    width: 100%;
    max-width: 46.5rem;
    margin: 1rem auto;
    padding: 0 1rem;
  }
}
