.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: var(--tan-white-color);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 45rem;
  animation: slideDown 0.25s linear;
}

@media (max-width: 37em) {
  .Modal {
    width: 90%;
    max-width: 45rem;
    margin: 0 auto;
  }
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -200%);
  }
  100% {
    transform: translateY(-50%, -50%);
  }
}
