$green: rgb(89, 167, 85);

.FlashMessage {
  margin: 0 auto;
  width: 100%;
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 3px;
  text-align: left;
  margin-bottom: 1rem;
  border: 1px solid #eee;
}

.FlashMessageText {
  margin-left: 0.5rem;
}

.Success {
  border-left-width: 5px;
  background-color: rgba(43, 84, 44, 0.1);
  border-left-color: $green;
  display: flex;
  align-items: center;

  & span {
    color: var(--dark-purple-color);
    margin-left: 2rem;
  }
}

.Error {
  border-left-width: 5px;
  background-color: rgba(217, 83, 79, 0.1);
  border-left-color: #d9534f;

  & span {
    color: var(--dark-purple-color);
  }

  & span::before {
    content: 'Error:';
    color: var(--bright-red-color);
    margin-right: 1rem;
  }
}

.Warning {
  border-left-width: 5px;
  background-color: #fff3cd;
  border-left-color: #ffeeba;

  & span {
    color: var(--dark-purple-color);
  }

  & span::before {
    content: 'Warning:';
    color: #856404;
    margin-right: 1rem;
  }
}

.CheckMarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke: $green;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  transition: all 0.2s;
}

.CheckMark {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $green;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.CheckMarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@media (min-width: 56.25em) {
  .FlashMessage {
    top: 25rem;
  }
}

@media (min-width: 112.5em) {
  .FlashMessage {
    font-size: 1.4rem;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $green;
  }
}
