.Text {
  color: var(--dark-purple-color);
  font-size: 1.8rem;
  font-family: 'Open Sans Regular';
  font-weight: 400;
  transition: opacity 0.2s;
  margin: 0.5rem auto;
}

.Large {
  font-size: 2rem !important;
}

@media (min-width: 56.25em) {
  .Text {
    font-size: 1.6rem;
  }
}

@media (min-width: 112.5em) {
  .Text {
    font-size: 1.4rem;
  }
  .Large {
    font-size: 1.8rem !important;
  }
}
