.Main {
  margin-top: 6rem;
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
  padding-bottom: 150px;
}

.Footer {
  flex: -1;
}

.Body {
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
}

@media (min-width: 56.25em) {
  .Main {
    margin-top: 110px;
    min-height: calc(100vh - 110px);
  }
}
