$input-color: var(--dark-purple-color);
$font-size: 1.6rem;

.InputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  & textarea {
    resize: vertical;
  }
}

.ContactInput {
  width: 90%;
  margin: 1rem auto;
  margin-top: 0;
  border-radius: 3px;
  padding: 0 0.5rem;
  color: $input-color;
  border: 1px solid var(--light-gray-color);
  font-size: $font-size;
  height: 4rem;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--tan-white-color) inset !important;
  }
  &:-webkit-autofill {
    -webkit-text-fill-color: var(--dark-purple-color) !important;
  }
  &:-webkit-autofill::first-line {
    font-family: 'Open Sans SemiBold';
    font-size: $font-size;
  }

  &::placeholder {
    color: var(--light-gray-color);
    text-transform: uppercase;
    font-size: $font-size;
  }
}

textarea.ContactInput {
  height: 10rem;
}

.ErrorMessage {
  color: var(--bright-red-color);
  font-size: $font-size;
  position: absolute;
  top: 100%;
  left: 5%;
  transform: translateY(-100%);
}

@media (min-width: 56.25em) {
  .ContactInput {
    &::placeholder {
      font-size: 1.4rem;
    }
  }
  .ErrorMessage {
    font-size: 1.4rem;
  }
}

@media (min-width: 112.5em) {
  .ContactInput {
    font-size: 1.2rem;
    &::placeholder {
      font-size: 1.2rem;
    }
  }
  .ErrorMessage {
    font-size: 1.3rem;
  }
}
