.PrimaryHeader {
  color: var(--light-purple-color);
  font-family: 'Open Sans Regular', sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  text-align: center;
}

@media (min-width: 56.25em) {
  .PrimaryHeader {
    font-size: 2.2rem;
  }
}

@media (min-width: 112.5em) {
  .PrimaryHeader {
    font-size: 2rem;
  }
}
