.ShopCarousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.ImageContainer {
  overflow: hidden;
}

.Carousel {
  position: relative;
  display: flex;
  overflow-x: auto;
}

.Button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0.2rem;
  border: 2px solid var(--tan-white-color);
  border-radius: 3px;

  &.Active {
    border-bottom-color: var(--light-gray-color);
  }
}

.ImagePreview {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

.Prev,
.Next {
  display: none;
}

@media (min-width: 900px) {
  .Prev,
  .Next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.25s;
  }

  .Prev {
    left: 0;
  }

  .Next {
    right: 0;
  }

  .ShopCarousel:hover > .Prev,
  .ShopCarousel:hover > .Next {
    opacity: 1;
  }
}
