.ShopCarousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ImageContainer {
  overflow: hidden;
}

.Carousel {
  display: flex;
  transition: transform 0.5s linear;
  overflow-x: auto;
}

.Button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0.2rem;
  border: 2px solid var(--tan-white-color);
  border-radius: 3px;

  &.Active {
    border-bottom-color: var(--light-gray-color);
  }
}

.ImagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

// @media (max-width: 21em) {
//   .ImagePreview {
//     overflow-x: scroll;
//     flex-wrap: nowrap;
//     justify-content: flex-start;
//   }
// }
