.Profile {
  margin: 0 auto;
  box-shadow: 0 5px 10px var(--light-gray-color);
  border-radius: 10px;
  width: 95%;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-purple-color);
  padding: 3rem 1rem;
  position: relative;
  background-color: var(--tan-white-color);
}

.AuthForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 2rem;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.AuthErrorMessage {
  color: var(--bright-red-color);
  font-size: 1.2rem;
  width: 90%;
}

.ToggleAuthForm {
  font-size: 1.8rem;
}

.Reset {
  font-size: 1.8rem;
  color: var(--light-purple-color);
}

.ForgotPassword {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 27%;
  right: 5%;
  z-index: 10;
}

@media (min-width: 56.25em) {
  .ToggleAuthForm {
    font-size: 1.6rem;
  }
  .Reset {
    font-size: 1.5rem;
  }
  .Title {
    font-size: 1.8rem;
  }
  .ForgotPassword {
    top: 28%;
  }
}

@media (min-width: 112.5em) {
  .ToggleAuthForm {
    font-size: 1.4rem;
  }
  .Title {
    font-size: 1.7rem;
  }
}
