.CartItem {
  border-bottom: 1px solid var(--light-gray-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image {
  width: 90%;
  max-width: 20rem;
  overflow: hidden;
}

.Title {
  font-size: 3rem;
}

.DetailsContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  max-width: 40rem;
  padding-left: 3rem;
}

.PriceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.RemoveButton {
  outline: none;
  background: none;
  border: none;
  color: var(--bright-red-color);
  font-size: 1.6rem;
  position: absolute;
  top: 100%;
  right: 0;
  cursor: pointer;
}

.Price {
  font-size: 2rem;
  &::before {
    content: '$';
  }
}

.Qty {
  outline: none;
  border-radius: 3px;
  color: var(--dark-purple-color);
  border: 1px solid var(--light-gray-color);
  font-size: 1.4rem;
  margin-top: 0.25rem;
  appearance: none;
  height: 3.75rem;
  width: 3.75rem;
  text-align: center;

  &::placeholder {
    color: var(--light-gray-color);
    text-transform: uppercase;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
}

.QtyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.QtyTitle {
  font-size: 1.4rem;
  color: var(--light-purple-color);
  position: absolute;
  top: -2.5rem;
}

.TitleLarge {
  font-size: 2.6rem;
  display: none;
}

@media (max-width: 18em) {
  .QtyTitle {
    top: 100%;
  }
}

@media (min-width: 30em) {
  .Title {
    display: none;
  }
  .TitleLarge {
    display: block;
  }
  .CartItem {
    flex-direction: row;
  }
  .DetailsContainer {
    max-width: none;
    align-items: center;
    height: 16rem;
  }
}

@media (min-width: 50em) {
  .CartItem {
    padding: 2rem 3rem;
  }
}
