.CartItem {
  border-bottom: 1px solid var(--light-gray-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image {
  width: 90%;
  max-width: 12rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.Title {
  font-size: 2.6rem;
  color: var(--dark-purple-color);
}

.TitleContainer {
  position: absolute;
}

.Static {
  position: static !important;
}

.DetailsContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  max-width: 40rem;
}

.PriceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.RemoveButton {
  outline: none;
  background: none;
  border: none;
  color: var(--bright-red-color);
  font-size: 1.6rem;
  cursor: pointer;
}

.Price {
  font-size: 2rem;
  &::before {
    content: '$';
  }
}

.Qty {
  outline: none;
  border-radius: 3px;
  color: var(--dark-purple-color);
  border: 1px solid var(--light-gray-color);
  font-size: 1.4rem;
  margin-top: 0.25rem;
  appearance: none;
  height: 4rem;
  width: 3.75rem;
  text-align: center;
  background-color: var(--tan-white-color);

  &::placeholder {
    color: var(--light-gray-color);
    text-transform: uppercase;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
}

.QtyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 0 2rem;
}

.QtyTitle {
  font-size: 1.4rem;
  color: var(--light-purple-color);
  position: absolute;
  top: -1.75rem;
}

.TitleLarge {
  font-size: 2.6rem;
  display: none;
  color: var(--dark-purple-color);
}

.SubText,
.SubTextHeader {
  text-transform: capitalize;
  color: var(--light-purple-color);
  font-size: 1.4rem;
  font-family: 'Open Sans Regular';
}

@media (min-width: 30em) {
  .Title {
    display: none;
  }

  .TitleLarge {
    display: block;
  }

  .CartItem {
    flex-direction: row;
  }

  .DetailsContainer {
    max-width: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
  }

  .Row {
    display: flex;
    justify-content: space-between;
  }

  .Image {
    margin-bottom: 0;
    max-width: 15rem;
  }
  .PriceContainer {
    margin-left: 5rem;
  }
  .TitleContainer {
    position: static;
  }
}

@media (min-width: 50em) {
  .CartItem {
    padding: 1rem 3rem;
  }
}
