.NavItem {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  &:hover,
  &:focus {
    color: var(--bright-red-color);
  }
}

.Purple {
  color: var(--dark-purple-color);
}

.White {
  color: var(--tan-white-color);
}

.Gray {
  color: var(--light-gray-color);
  font-size: 1.2rem;
}

.Active {
  color: var(--bright-red-color) !important;
}

@media (max-width: 56.25em) {
  .NavItem {
    color: var(--tan-white-color);
    width: 90%;
    padding: 1rem 0;
    flex: 1;
    font-size: 1.6rem;
    &:not(:first-child) {
      border-top: 1px solid var(--transparent-tan-white-color);
    }
  }

  .Ripple {
    background-position: center;
    transition: background 0.8s;

    &:hover {
      background: radial-gradient(circle, transparent 1%, var(--dark-purple-color) 1%) center/15000%;
    }

    &:active {
      background-color: var(--transparent-tan-white-color);
      background-size: 100%;
      transition: background 0s;
    }
  }
}
