.Hero {
  width: 100%;
  height: 70vh;
  max-height: 50rem;
  padding: 3rem;
  padding-top: 10vh;
  text-align: center;
}

.HeroImage {
  margin-bottom: 5rem;
  width: 90%;
  max-width: 60rem;
  animation: fadeIn 1s linear;
  user-select: none;
}

.Button {
  display: block;
}

.MouseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

@media screen and (max-height: 450px) {
  .MouseContainer {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
