.Input {
  background-color: var(--light-purple-color);
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: var(--tan-white-color);
  padding: 0.7rem 1.4rem;
  font-weight: 600;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &::selection {
    background: var(--light-purple-color);
    color: var(--tan-white-color);
  }
}
