.Input {
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: var(--dark-purple-color);
  height: 100%;
  width: 100%;
  background: none;

  &:placeholder-shown {
    color: var(--dark-gray-color);
    font-family: 'Open Sans Regular';
    font-weight: 400;
  }

  &:focus {
    outline: none;
  }

  &::selection {
    background: var(--light-purple-color);
    color: var(--tan-white-color);
  }
}
