.TertiaryHeader {
  color: var(--dark-purple-color);
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 56.25em) {
  .TertiaryHeader {
    font-size: 1.8rem;
  }
}

@media (min-width: 112.5em) {
  .TertiaryHeader {
    font-size: 1.6rem;
  }
}
