.SecondaryHeader {
  color: var(--dark-purple-color);
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  width: 90%;
}
