.SecondaryHeader {
  color: var(--dark-purple-color);
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  width: 90%;
}

@media (min-width: 56.25em) {
  .SecondaryHeader {
    font-size: 1.8rem;
  }
}

@media (min-width: 112.5em) {
  .SecondaryHeader {
    font-size: 1.6rem;
  }
}
