$icon-size: 2rem;
$input-container: $icon-size * 2.2;
$container-width: 20rem;

.Button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 10;
}

.NavSearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--light-gray-color);
  padding-left: 2rem;
  border-radius: 30px;
  background: none;
  outline: none;

  &:active,
  &:focus {
    box-shadow: 0px 0px 1px 0.5px var(--light-purple-color);
  }
}

.InputContainer {
  height: $input-container;
  width: $container-width;
  padding-left: 0.5rem;
}
