$font-size: 1.4rem;

.NavContainer {
  width: 100%;
  height: 100%;
}

.NavSearchInput {
  font-size: $font-size;
  color: var(--dark-purple-color);
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Regular';
  font-weight: 400;
}
