$green: rgb(89, 167, 85);

.FormButton {
  width: 100%;
  outline: none;
  background-color: var(--light-purple-color);
  border: none;
  margin: 1rem auto;
  border-radius: 3px;
  color: var(--tan-white-color);
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  transition: background-color 0.2s;
  height: 5rem;

  &:disabled {
    cursor: not-allowed;
  }
  &:hover,
  &:focus {
    background-color: rgba(123, 105, 145, 0.9);
  }
}

.Success {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & span {
    margin-left: 0.75rem;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    animation: show 0.2s ease-in-out 1.4s backwards;
  }
}

.Error {
  // background-color: var(--bright-red-color) !important;
}

.Loading {
  border: 2px solid var(--light-purple-color) !important;
  border-top-color: var(--light-gray-color) !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spin 0.85s linear infinite;
}

.CheckMarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke: $green;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  transition: transform 0.2s;
}

.CheckMark {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $green;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.6s ease-in-out 0.9s both;
}

.CheckMarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@media (min-width: 56.25em) {
  .FormButton {
    font-size: 1.5rem;
    height: 4.5rem;
  }
}

@media (min-width: 112.5em) {
  .FormButton {
    font-size: 1.4rem;
    height: 4rem;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0% {
    transform: none;
  }
  30% {
    transform: scale3d(1, 1, 1) translateX(0);
  }
  100% {
    transform: scale3d(1, 1, 1) translateX(-5rem);
  }
  15% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $green;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
