.FormButton {
  width: 100%;
  outline: none;
  background-color: var(--light-purple-color);
  border: none;
  margin: 1rem auto;
  border-radius: 3px;
  height: 4rem;
  padding: 1rem 0.5rem;
  color: var(--tan-white-color);
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
  }
  &:hover,
  &:focus {
    background-color: rgba(123, 105, 145, 0.9);
    transform: scale(1.02);
  }
  &:active {
    transform: scale(1);
  }
}
