.InputContainer {
  & textarea {
    resize: vertical;
  }
}

.Input {
  outline: none;
  border: none;
  background: none;
  appearance: none;
  &:focus {
    outline: none;
  }
  &::-ms-expand {
    display: none;
  }
}

.Invalid {
  color: var(--bright-red-color);
}

.DropdownContainer {
  position: relative;
}

.DropdownCaret {
  position: absolute;
  top: 50%;
  right: 0.7rem;
  pointer-events: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--dark-purple-color);
}

.Dropdown {
  cursor: pointer;
}
